<div id="content-main">
    <div id="informacion">
      <strong>
        <h1 id="titulo-text">Plataforma de gestion y administracion de inventarios</h1>
      </strong>
      <p id="text-inf">
      En un mercado competitivo, la administración eficiente del inventario puede marcar la diferencia. Inventory te brinda las herramientas necesarias para maximizar tu eficiencia, reducir errores y mejorar la experiencia de tus clientes, todo desde una plataforma fácil de usar.
      ¡Transforma la forma en que gestionas tu inventario y lleva tu negocio al siguiente nivel con Inventory!
      </p>
      <div id="content-main-img">
        
        <div class="content-img">
          <img class="caja-img" src="caja-negra.png" alt="caja">
          <br>
          <p>inventarios</p>
        </div>
        <div class="content-img">
          <img src="/usuarios.png" class="caja-img"  alt="caja">
          <br>
          <p>inventarios</p>
        </div>
      </div>
  </div>
  
    <div id="login">
        <div id="login-main">
            <form [formGroup]="login" (ngSubmit)="RedirigirDashboard()">
                <label id="titulo-login">Iniciar sesion</label>

                <input type="text" formControlName="correo" class="datos" placeholder="Correo">
                <input type="text" formControlName="password" class="datos" placeholder="Password">

                <p>{{mensaje}}</p>
                <div id="content-ingreso">
                    <input type="submit" id="button-ingresar" value="Ingresar">
                    <label id="url-forget-password">¿Olvidaste la contraseña?</label>
                </div>
            </form>

            <button id="registrarse" (click)="RedirigirRegister()">registrarse</button>
        </div>
    </div>
</div>
