<div id="main-crear-activo">
    <div class="content-nombre">
        <svg (click)="Volver()" class="svg-retroceder" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        <h1 class="titulo">Crear activo</h1>
    </div>
    
    <form>
        <div id="column-one">
           <div class="content-input">
                <p class="text-inf">Nombre</p>
                <input type="text" class="estilo-data" name="nombre" id="nombre" [(ngModel)]="activo.nombre" placeholder="Nombre">
                <p class="text-inf">Tipo</p>
                <select name="" class="estilo-data" id="" [(ngModel)]="activo.tipo" name="tipo">
                    <option value="hardware">Hardware</option>
                    <option value="Software">Sofware</option>
                </select>
           </div>
        </div>
        <div id="colum-two">
                <div class="agregar-campo">
                    <div class="content-mun-min">
                        <label  class="text-inf" for="numero-minimo-stock">Numero minimo stock</label>
                        <input class="input-mun-min" type="number" name="numero-minimo-stock" id="" [(ngModel)]="activo.numero_minimo_stock" min="0">
                    </div>
                    <p class="text-inf">Agregar campo</p>
                    <input type="text" class="estilo-data" name="" id="" [(ngModel)]="valorCampo" placeholder="Nuevo campo" name="valor-campo">
                <div class="content-checkbox">
                    <button class="boton-agregar" (click)="agregarCampo()">Agregar a lista</button>
                </div>
            </div>
            <div class="content-campos">
                <p class="text-inf">Lista de campos</p>
                <div class="campos">
                    @if(activo.campos_adicionales!={}){
                        @for(campo of CamposAdicionales(); track campo.nombre){
                            <p class="valor-campo">{{campo.valorCampo}}</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div id="column-three">
            <button class="button-aceptar" (click)="EnviarInformacion()">Aceptar</button>
            <button class="button-cancelar" (click)="Cancelar()">Cancelar</button>
        </div>
   </form>
</div>