<div id="main-crear-activo">

   <form>
        <h1 id="titulo-registro">Crear activo</h1>
        <div id="column-one">
            <div class="content-foto">
                    <img class="foto-img" [src]="vistaImagen" alt="foto">
                    <div class="content-subir-foto">
                        <p id="text-foto">Foto</p>
                        <label class="file-label">
                            <input accept="image/*" type="file" name="" id="" (change)="mostrarImagen($event)" style="display: none;">
                            Subir Foto
                        </label>
                    </div>
                </div>
        </div>
        <div id="colum-two"></div>
   </form>
</div>