<div class="main-informacion">
    <img [src]="dataInformacion.foto" class="foto" alt="">

    <!--Campos de informacion nombre-->
    <p class="">{{dataInformacion.nombre}}</p>
    <p>{{dataInformacion.correo}}</p>

    <!--Campos de informacion Direccion-->
    <h2>Direccion</h2>
    {{dataInformacion.direccion}}

    <!--Campos de informacion Representante-->
    <h2>Representante</h2>
    {{dataInformacion.representante}}

    <!--Campos de informacion Descripcion-->
    <p>Informacion</p>
    <p>{{dataInformacion.descripcion}}</p>

    <!--Campos de informacion Fecha de asociacion-->
    <p>Fecha Asociacion</p>
    <p>{{dataInformacion.fecha_asociacion}}</p>


    <!--Campos de informacion codigo-->
    <p>Codigo</p>
    <p>{{dataInformacion.codigo}}</p>

    <!--Campos de informacion cantidad usuario-->
    <p>Cantidad de usuarios</p>
    <p>{{dataInformacion.cantidadUsuario}}</p>

    <!--Campos de informacion cantidad activos-->
    <p>Cantidad de activos</p>
    <p>{{dataInformacion.cantidadActivos}}</p>
</div>