.main-informacion{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    padding: 2em;
    overflow: auto;
}

//contenedores
.content-foto, .activos{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-content: center;
    align-items: center;
}

 
.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.tituto-descriptivo, .nombre,  .descripcion{
    font-size: 1.1em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-descripcion{
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.descripcion{
    font-size: 1.2em;
}

.text{
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.descripcion-text{
    text-align: justify;
}

.contacto, .informacio{
    gap: 3em;
    justify-content: center;
    align-content: center;
    align-content: center;
    margin: 2em;
}

.nombre{
    font-size: 2em;
}

.content-empresa{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    gap: 10%;
}

.activos{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.recursos{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: initial;
}