@use '../../../../../styles.scss' as estilos_globales;

.main-ver-activo{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: calc(100vh - 50px);
    overflow: auto;
}

.data-row{
    @include estilos_globales.data();
    height: 20px;
}

.fila-datos{
    width: 98%;
}
.content-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
}
.content-inf, .content-campo-adicionales, .encabezado-user{
    margin: 3em 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.content-inf{
    justify-content: space-around;
    width: 100%;
}

.content-campo-adicionales{
    gap: 12%;
    margin: 2em 6%;
}

.encabezado-user{
    gap: 8%;
}

.content-user-agregados{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
}

.button-ver{
    @include estilos_globales.botonIngreso;
    padding: 0.2em 2em;
}

.button-aceptar{
    @include estilos_globales.botonIngreso;
}

.button-cancelar{
    @include estilos_globales.botonCancelar();
}

.content-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2em;
    margin-top: 2em;
}

.text-no-user{
    margin: 5%;
    text-align: center;
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-title{
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-inf{
    font-size: 1em;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

