@use '../../../../styles.scss' as globales;

.main-mienbro{
    position: relative;
    padding: 2em;
    height: calc(100vh - 50px);
    overflow: auto;
}

.content-user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1;
}


.content-buscar{
    width: 30%;
    margin-bottom: 5%;
}

.input-buscar{
    width: 100%;
    height: 18px;
}
 
.data-nombre{
    margin-left: 3%;
}

.data-row{
    @include globales.data();
    height: 20px;
}

.fila-titulo{
    width: calc(100% - 70px);
}
.content-user{
    align-items: center;
    gap: 1em;
}

.svg-ver{
    &:hover{
        fill: blue;
    }
}

//////////contenedor miembro es la parte donde se muestra la informacion del usuario
.content-miembro{
    position: absolute;
    height: 90%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    border: 5px solid #1800ad;
    background-color: white;
    padding: 1em;
} 

