<div class="main-modificar-miembro">
    <div class="colum">
        <h1 class="titulo">Miembro</h1>
    </div>
    <div class="colum1">
        <div class="nombre-estado-content">
            <div>
                <h2>Nombre</h2>
                <p>{{miembro.nombre}}</p>
            </div>
            <div>
                <h2>Estado</h2>
                <p>{{miembro.estado}}</p>
            </div>
        </div>
        <div class="nombre-estado-content">
            <div>
                <h2>Correo</h2>
                <p>{{miembro.correo}}</p>
            </div>

            <div class="checkbox-content">
                <label class="content-check">
                    <input type="checkbox" [(ngModel)]="miembro.suspendido">
                    <span class="slider"></span>
                </label>
                Suspendido
            </div>
        </div>
        
        <div>
            <h2>Rol</h2>
            <select name="" class="rol" [(ngModel)]="miembro.rol">
                <option class="opciones-rol" value="admin">Administrador</option>
                <option class="opciones-rol" value="miembro">Miembro</option>
            </select>
        </div>
  
        <div>
            <p>Area</p>
            <br>
            <input class="datos" type="text" name="" id="" [(ngModel)]="miembro.area">
        </div>


        <div class="id-content">
            <h2>ID</h2>
            <p>{{miembro.id}}</p>
        </div>

    </div>
    <div class="colum2">
        <h1 class="titulo-permiso">Permisos</h1>

        <!--Esta sesion es para los permisos de usuarios-->
        <div class="sesion-permisos">
            <h2>Usuarios</h2>
            <div class="content-permisos permisos-usuario">
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[0].ver">
                        <span  class="slider"></span>
                    </label>
                    Ver
                </label>
                
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[0].modificar">
                        <span  class="slider"></span>
                    </label>
                    Modificar
                </label>

            <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[0].eliminar">
                        <span  class="slider"></span>
                    </label>
                    Eliminar
            </label>
            </div>
        </div>

        <!--Esta sesion es para los permisos de inventario-->
        <div class="sesion-permisos">
            <h2>Inventario</h2>
            <div class="content-permisos permisos-inventario">
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[1].ver">
                        <span  class="slider"></span>
                    </label>
                    Ver
                </label>
                
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[1].modificar">
                        <span  class="slider"></span>
                    </label>
                    Modificar
                </label>

            <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[1].eliminar">
                        <span  class="slider"></span>
                    </label>
                    Eliminar
            </label>
            </div>
        </div>

        <!--Esta sesion es para los permisos de los miembros-->
        <div class="sesion-permisos">
            <h2>Miembro</h2>
            <div class="content-permisos permisos-miembro">
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[2].ver">
                        <span class="slider"></span>
                    </label>
                    Ver
                </label>
                
                <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[2].modificar">
                        <span class="slider"></span>
                    </label>
                    Modificar
                </label>

            <label class="checkbox-content">
                    <label class="content-check">
                        <input type="checkbox" [(ngModel)]="miembro.permisos[2].eliminar">
                        <span class="slider"></span>
                    </label>
                    Eliminar
            </label>
            </div>
        </div>
    </div>
    <div class="colum3">
        <button (click)="guardar()" class="button-aceptar">Guardar</button>
        <button (click)="cancelar()" class="button-cancelar">Cancelar</button>
    </div>
</div>