<nav>
  <div id="logotipo" (click)="redirirInicio()">
    <img id="img-nav" src="caja-icono.png"  alt="">
    <p id="titulo-nav">Inventory</p>
  </div>

  <div id="informacion-nav">
     @if (mostrarFoto) { 
      <img id="foto-nav" src="foto.png" alt="" (click)="VentanaOpcionCuenta()">
    }
  </div>
 
  @if(auth.isLogin()){
      <div (click)="VentanaOpcionCuenta()" class="content-inf-user">
        <img [src]="Foto(fotoService.obtenerImagen(id))" (error)="Foto(fotoService.ImagenDefault())" class="foto-ciente" alt="">
      </div>
  }

</nav>

  @if(venatanOpcionesCuenta){
    <div id="opcion-cuenta" (click)="VentanaOpcionCuenta()" #contentCerrarSesion>
      <p id="nombre-user">{{nombreUser | titlecase}}</p>
      <p id="email-user">{{correoElectronico | lowercase}}</p>
      <div id="content-button-opcion-cuenta">
        <button class="button-opcion-cuenta">Configuracion</button>
        <button (click)="cerrarSesion()" class="button-opcion-cuenta">Cerrar sesion</button>
      </div>
    </div>
  }

<router-outlet></router-outlet>