<nav>
  <div id="logotipo">
    <img id="img-nav" src="caja-icono.png"  alt="">
    <p id="titulo-nav">Inventory</p>
  </div>

  <div id="informacion-nav">
     @if (mostrarFoto) { 
      <img id="foto-nav" src="foto.png" alt="" (click)="VentanaOpcionCuenta()">
    }
  </div>
 
</nav>
@if(venatanOpcionesCuenta){
  <div id="opcion-cuenta">
    <p id="nombre-user">{{nombreUser | titlecase}}</p>
    <div id="content-button-opcion-cuenta">
      <button class="button-opcion-cuenta">Configuracion</button>
      <button (click)="cerrarSesion()" class="button-opcion-cuenta">Cerrar sesion</button>
    </div>
  </div>
}
<router-outlet></router-outlet>