@use '../../../../styles.scss' as globales;

.main-users{
    height: calc(100vh - 50px);
    padding: 2em;
    overflow: auto;
}

.titulo-inf-user{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}

.content-inf-text{
    display: flex;
    flex-direction: column;
}

.column-row, .ver-activo, .content-activo{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.content-activo{
    margin: 0;
    align-items: center;
}

.ver-activo{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
}

.content-text-cantidad-activo{
    justify-content: center;
    max-width: 20%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    display: block;
}

.button-ver{
    @include globales.botonIngreso;
    width: 100px;
    height: 25px;
    padding: 0;
}

.button-guardar{
    @include globales.botonValidar;
    height: 25px;
    width: 100px;
    padding: 0;
}

.text-informacion-titulo, .text-informacion, .ver-activo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-informacion-titulo{
    font-weight: 600;
    font-size: 1.2em;
}

.text-informacion{
    all:unset;
    font-weight: 400;
    font-size: 1.2em;
    width: fit-content;
}

.datos{
   @include globales.entradas;
    max-width: 85%;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.datos-multiples{
    @include globales.entradas;
    min-width: 200%;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.data-row{
    font-weight: bold;
}

.boton-ingresar{ 
    @include globales.botonIngreso;
    width: 10%;
    margin-bottom: 0.3em;
}

.boton-agregar-activo{ 
    @include globales.botonValidar;
    width: 20%;
    margin-bottom: 0.3em;
}

.column-initial, .content-user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1;
}

.column-initial{
    gap: 5%;
    width: 100%;
    margin-bottom: 5%;
}

.content-buscar{
    width: 30%;
}

.input-buscar{
    width: 100%;
}
 
.data-nombre{
    margin-left: 3%;
}

.data-row{
    @include globales.data();
    height: 20px;
}

.content-user{
    align-items: center;
    gap: 1em;
}

//////////contenedor miembro es la parte donde se muestra la informacion del usuario
.content-crear-usuario, .content-ver-usuario, .content-activos-ver{
    position: absolute;
    height: 80%;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    border: 5px solid #1800ad;
    background-color: white;
} 

.content-crear-usuario{
    padding: 1em;
    width: 70%;
}

.content-ver-usuario{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding: 0.5em;
    align-content: center;
    overflow-x: hidden;
} 

.content-activos-ver{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding: 1em;
    overflow: auto;
}

.content-inf{
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    gap: 1.4em;
}

//esto es la fila del dato, es el que le da el estilo a cada fila: empresa, usuario, miembro, etc
.fila-activos{
    display: flex;
    flex-direction: row; 
    border: 1px solid transparent;
    border-radius: 15px;
    align-content: initial;
    align-items: center;
    width: 100%;
    padding: 0.2em;
    height: 3em;
    margin-right: 2%;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        background-color: #d9d9d9;
    }

 }



