@use '../../../../styles.scss' as globales;

.main-users{
    height: calc(100vh - 50px);
    padding: 2em;
}

.boton-ingresar{ 
    @include globales.botonIngreso;
    width: 10%;
    margin-bottom: 0.3em;
}

.column-initial, .content-user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1;
}

.column-initial{
    gap: 5%;
    width: 100%;
    margin-bottom: 5%;
}

.content-buscar{
    width: 30%;
}

.input-buscar{
    width: 100%;
}
 
.data-nombre{
    margin-left: 3%;
}

.data-row{
    @include globales.data();
    height: 20px;
}

.content-user{
    align-items: center;
    gap: 1em;
}

//////////contenedor miembro es la parte donde se muestra la informacion del usuario
.content-crear-usuario, .content-ver-usuario{
    position: absolute;
    height: 80%;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    border: 5px solid #1800ad;
    background-color: white;
    padding: 1em;
} 

.content-crear-usuario{
    width: 70%;
}
.content-ver-usuario{
    width: 30%;
} 




