@use '../../styles.scss' as globales;

#main-dashboard{
    padding: 4em;
}

#titulo-dashboard{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    margin-bottom: 1.5em;
}

/*Esta seccion es para el contenido de agregar usuario*/
@mixin content-agregar-cliente{
    display: flex;
    flex-direction: column;
    position:fixed;
    background-color: #f2f2f2;
    width: fit-content;
    padding: 0.8em;
    gap: 0.7em;
}

.content-agregar-cliente-abrir{
    @include content-agregar-cliente();
 
}

.content-agregar-cliente-cerrar{
    @include content-agregar-cliente();
}

.text-codigo{
    font-family: "Roboto Condensed", sans-serif ;
    font-weight:bold;
    font-style: normal;
    font-size: 0.8em;
    text-align: initial;
}

#botones-agregar-cliente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2em;
}

#button-crear{
    @include globales.botonValidar;
    padding: 0.2em 1em;
}

#button-cancelar{
    @include globales.botonCancelar;
    padding: 0.2em 1em;
}

#input-codigo-empresa{
    border: 2px solid #1800ad;
    border-radius: 20px;
    width: 100%; 
    padding: 0.2em; 
}

#button-codigo-empresa{
    @include globales.botonIngreso;
    width: 100%;
    padding: 1%;
}


/*Este estilo es para el boton que permite agregar una nueva empresa*/
.boton-ingreso{ 
    @include globales.botonIngreso;
    width: 90px;
    margin-bottom: 0.3em;
}

//esta parte es para los estilos de la cantidad de clientes
#text-cantidad{
    font-family: sans-serif;
    font-size: 1.1em;
    margin-bottom: 3em;
    margin-top: 3.5em;
}

//esta seccion es de los estilos buscar cliente
.cantidad-buscar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    gap: 1em;
    width: 40%;

}

@mixin data-cliente{ 
    @include globales.data();
    height: 20px;
}

.data{
    @include data-cliente();
}

.content-cliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    min-height: min-content;
 }

 #content-clientes{
    overflow-y: overlay; 
    max-height: 71%; 
 }


 #img-eliminar{
    width: 20px;
    height: 20px;
    border-radius: 50px;
 }
 
@media(min-width:300px) and (max-width:600px){
    .data-cliente-direccion, .data-cliente-representante, .data-fecha, .data-titulo-representante,
    .data-titulo-direccion, .data-titulo-fecha{
        display: none;
    }

    .cantidad-buscar{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .content-buscar, .input-buscar{
        height: 30px;
        width: 100%;
    }
 
    .data{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


@media(max-width:400px){
    .data-cliente-direccion, .data-cliente-representante, .data-id, .data-fecha, .data-titulo-representante,
    .data-titulo-direccion, .data-titulo-fecha, .data-titulo-id{
        display: none;
    }

}


@media(min-width:600px) and (max-width:800px){
    .data-cliente-direccion, .data-id,
    .data-titulo-direccion, .data-titulo-id{
        display: none;
    }

    .cantidad-buscar{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
 
    }

    .boton-ingreso{
        max-width: 50%;
    }
}

@media(min-width:800px) and (max-width:1000px){
    .data-cliente-direccion,
    .data-titulo-direccion{
        display: none;
    }
}

@media(min-width:300px) and (max-width:800px){

    #main-dashboard{
        padding: 0.5em;
    }

    #titulo-dashboard{
        text-align: center;
        margin: 1em 0;
    }

    #cantidad-buscar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    #content-buscar{
       flex:1 1;
       width: 100%;
       min-height: fit-content;
    }

    .boton-ingreso, #content-boton-agregar-cliente{
        width: 100%;
        flex: 1 1;
    }

    .boton-ingreso{
        margin-top: 1em;
    }

    //---------------------------------------
    .content-agregar-cliente-abrir{
        position: relative;
        width: 100%;
        min-height: fit-content;
        border-radius: 20px;
    }

    //----------------------------------------------------

    #button-crear, #button-cancelar{
        width: 80%;
    }

    #content-buscar{
        height: 1.5em;
        margin-top: 1em;
        padding: 0.5em;   
    }

    .content-cliente, #content-clientes, table{
        width: 100%;
        flex: 1 1;
    }
    
    #text-cantidad{
        text-align: center;
        margin: 1.8em;
    }
}