@use '../../styles.scss' as globales;

/*
#main-dashboard{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}
aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

#titulo-empresa{ 
    @include globales.fonts;
    margin:1.5em 0;
    text-align: center;
    font-size: 2em;
}

.opciones{
    all:unset; 
    padding: 0.5em;
    align-items: center;
    border: 1px solid transparent;
    border-left: 5px solid transparent;
    padding-left: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &:hover{
        background-color: #d9d9d9;
        border-left: 5px solid #1800ad;
    }
    &:focus{
        background-color: transparent;
        border-left: 5px solid #1800ad;
        font-weight: bold;
    }
}
    */

#main-dashboard{
    padding: 4em;
    height: calc(100vh - 50px);
}

.boton-ingreso{ 
    @include globales.botonIngreso;
    width: 90px;
    margin-bottom: 2.5em;
}

#text-cantidad{
    font-family: sans-serif;
    font-size: 1.1em;
    margin-bottom: 2em;
}

table{ 
    width: 100%;
    table-layout: fixed;
    text-overflow: ellipsis;

}
 
 .foto-ciente{
    width: 30px;
    height: 30px;
    border-radius: 50px;
 }
 
 .data-cliente{ 
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis; 
    justify-content: initial;
    text-align: left;
    flex: 1; 
 }

 #content-cliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
 }
 #fila-datos{
    display: flex;
    table-layout: fixed;
    flex-direction: row; 
    border: 1px solid transparent;
    justify-content:space-around;
    align-content: initial;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 0.2em 0;
    width: 100%;
    padding: 0.2em;
    padding-right: 1%;
    cursor: pointer;
    &:hover{
        border: 1px solid #1800ad;
    }
    &:active{
        background-color: #a6a6a6;
    }
 }

 #img-eliminar{
    width: 20px;
    height: 20px;
    border-radius: 50px;
 }

 svg{ 
    pointer-events: auto;
    z-index: 100;
    fill: black;
    &:hover{
        fill:red; //cambia el color 
    }
 }