<div id="main-dashboard">
 
    <button class="boton-ingreso">Agregar</button>
    <p id="text-cantidad">Cantidad de clientes: <strong>{{cantidadclientes}}</strong></p>
  
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>representante</th>
                <th>Fecha asociacion</th>
                <th>id</th>
            </tr>
     
        <hr id="linea">
        
            @for(cliente of empresas; track cliente.id){
                <div id="fila-datos">            
                        <th><img src="" alt=""></th>
                        <th>{{cliente.nombre}}</th>
                        <th>{{cliente.direccion}}</th>
                        <th>{{cliente.representante}}</th>
                        <th>{{cliente.fecha_asociacion}}</th>
                        <th>{{cliente.id}}</th>
                    
                </div>
            }
</div>