@use '../../styles.scss' as globales;

#main-dashboard{
    padding: 4em;
    height: calc(100vh - 50px);
}

/*Esta seccion es para el contenido de agregar usuario*/
#content-agregar-cliente{
    display: flex;
    flex-direction: column;
    position:fixed;
    background-color: #f2f2f2;
    width: fit-content;
    padding: 0.8em;
    gap: 0.7em;
}

.text-codigo{
    font-family: "Roboto Condensed", sans-serif ;
    font-weight:bold;
    font-style: normal;
    font-size: 0.8em;
    text-align: initial;
}

#botones-agregar-cliente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2em;
}

#button-crear{
    @include globales.botonValidar;
    padding: 0.2em 1em;
}

#button-cancelar{
    @include globales.botonCancelar;
    padding: 0.2em 1em;
}

#input-codigo-empresa{
    border: 2px solid #1800ad;
    border-radius: 20px;
    width: 100%; 
    padding: 0.2em; 
}

#button-codigo-empresa{
    @include globales.botonIngreso;
    width: 100%;
    padding: 1%;
}


/*Este estilo es para el boton que permite agregar una nueva empresa*/
.boton-ingreso{ 
    @include globales.botonIngreso;
    width: 90px;
    margin-bottom: 0.3em;
}

//esta parte es para los estilos de la cantidad de clientes
#text-cantidad{
    font-family: sans-serif;
    font-size: 1.1em;
    margin-bottom: 3em;
    margin-top: 3.5em;
}

//esta session es de los estilos buscar cliente
#cantidad-buscar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
}

#cantidad-buscar{
    width: 40%;
}

#content-buscar{
    @include globales.content-buscar;
}

#input-buscar{
    @include globales.input-buscar;
}

#svg-busqueda{
    @include globales.svg-busqueda;
}


//estilos de la estructura de tabla
table{ 
    width: 100%;
    table-layout: fixed;
    text-overflow: ellipsis;
}

#encabezado-tabla{
    display: flex;
    flex-direction: row;
    width: 96%;
    justify-content: space-around;
    align-content: initial;
    align-items: center;
}
 
#linea{
    margin: 1em 0;
}

.foto-ciente{
    width: 30px;
    height: 30px;
    border-radius: 50px;
 }
 
.data-titulo{ 
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-overflow: ellipsis; 
    justify-content: initial;
    text-align: left;
     }

 .data-cliente{ 
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    overflow: none;
    height: 20px;
    text-overflow: ellipsis; 
    justify-content: initial;
    text-align: left;
    flex: 1; 
 }

.data{
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    overflow: none;
    text-overflow: ellipsis; 
    justify-content: center;
    text-align: center;
    flex: 1; 
}

.content-cliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    min-height: min-content;
 }

 #content-clientes{
    overflow-y: overlay; 
    max-height: 71%; 
 }

.fila-datos{
    display: flex;
    table-layout: fixed;
    flex-direction: row; 
    border: 1px solid transparent;
    justify-content:space-around;
    align-content: initial;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 0.2em 0;
    width: 100%;
    padding: 0.2em;
    padding-right: 1%;
    cursor: pointer;
    &:hover{
        border: 1px solid #1800ad;
    }
    &:active{
        background-color: #a6a6a6;
    }
 }

 #img-eliminar{
    width: 20px;
    height: 20px;
    border-radius: 50px;
 }

 svg{ 
    pointer-events: auto;
    z-index: 100;
    width:20px;
    height:20px;
    fill: black;
    &:hover{
        fill:red; //cambia el color 
    }
 }