/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin fonts{
  font-family: 'Bebas Neue', sans-serif;
}

@mixin boton($color,$segundo-color){
    color: white;
    border-radius: 15px;
    padding: 5px 5px 8px 8px;
    font-size: 13px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0 solid transparent;
    min-width: fit-content;
    width: 15%;
    cursor: pointer;
    border: 1px solid transparent;
 
    &:hover{
        color: white;
        background-color: $segundo-color;
        border: 1px solid $segundo-color;
        box-shadow: 0px 0px 1px $color;
    }

    &:active{
        color: white;
        background-color: $segundo-color;
        border: 1px solid $color;
    }
}

@mixin botonIngreso{
    @include boton(#1800ad,#2F59C4);
    background-color: #1800ad;
}

@mixin botonCancelar{
    @include boton(red, #FF3358);
    background-color: red;
}

@mixin botonValidar{
    @include boton(green, #72E34F);
    background-color: green;
}

@mixin entradas-base{
    all:unset;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
}

@mixin entradas(){
    @include entradas-base;
    border-bottom: 2px solid black;
    &:focus{ 
        border-bottom: 2px solid #1800ad;
    }
}

@mixin entradas-erroneas{
    @include entradas-base();
     border-bottom: 2px solid red;
     color: red;    
     &:focus{
        border-bottom: 2px solid red;
    }
}

//esta session es del input buscar cliente

@mixin content-buscar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    border: 1px solid #1800ad;
    padding: 10px;
    width: fit-content;
    gap: 3px;
    border-radius: 50px;
}

@mixin input-buscar{
    all: unset;
    border: 1px solid transparent;
    width: 18em;
    height: 0.7em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@mixin svg-busqueda{
    width: 12px;
    height: 12px;
}


//foto y contenedores de foto

.content-subir-foto{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.foto-img{
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

.content-foto{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 3em;
}

.file-label{
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: #1800ad;
    padding: 2px 8px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*En esta sesion tenemos los estilos globales de las tablas*/


//estilos de la estructura de tabla
table{ 
    width: 100%;
    table-layout: fixed;
    text-overflow: ellipsis;
}

.encabezado-tabla{
    display: flex;
    flex-direction: row;
    width: 96%;
    justify-content: space-around;
    align-content: initial;
    align-items: center;
}
 
.linea{
    margin: 1em 0;
}

.foto-ciente{
    width: 30px;
    height: 30px;
    border-radius: 50px;
 }
 
@mixin data-titulo{ 
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-overflow: ellipsis; 
    justify-content: initial;
    text-align: left;
}

/*Estolos de los datos dentro del campo*/

//estilos del campo
@mixin data{
    padding: 0 10px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis; 
    justify-content: initial;
    text-align: initial;
    flex: 1 1; 
}

//esta es la fila de los titulso
.fila-titulo{
    display: flex;
    table-layout: fixed;
    flex-direction: row; 
    justify-content:space-around;
    align-content: initial;
    align-items: center;
    margin: 0.2em 0;
    width: 97%;
    padding: 0.2em;
    padding-right: 1%;

 }

//esto es la fila del dato, es el que le da el estilo a cada fila: empresa, usuario, miembro, etc
.fila-datos{
    display: flex;
    flex-direction: row; 
    border: 1px solid transparent;
    align-content: initial;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 0.2em 0;
    width: 100%;
    padding: 0.2em;
    padding-right: 1%;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        border: 1px solid #1800ad;
    }
    &:active{
        background-color: #a6a6a6;
    }
 }

 .svg-eliminar{ 
    pointer-events: auto;
    z-index: 100;
    width:20px;
    height:20px;
    fill: black;
    &:hover{
        fill:red; //cambia el color 
    }
 }

 ///////////////////////////////////////////////
 /// /*Estilos de la sesion buscar*/
 /// 
 /// //esta seccion es de los estilos buscar cliente


.content-buscar{
    @include content-buscar;
}

.input-buscar{
    @include input-buscar;
}

.svg-busqueda{
    @include svg-busqueda;
}

//titulos de los campos del cliente
.titulo{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    margin-bottom: 1.5em;
}
