 <div id="main-crear-cliente">
    <form [formGroup]="formCrearcliente" (ngSubmit)=" AgregarCliente()">
        <p id="titulo-crear-cliente">Nuevo cliente empresarial</p>
        <div id="column-main">
            <div id="primera-columna">
                <div class="content-foto">
                    <img class="foto-img" [src]="vistaImagen" alt="foto">
                    <div class="content-subir-foto">
                        <p id="text-foto">Logo</p>
                        <label class="file-label">
                            <input accept="image/*" type="file" name="" id="" (change)="mostrarImagen($event)" style="display: none;">
                            Subir logo
                        </label>
                    </div>
                </div>
                <div id="content-descripcion">
                    <label for="">Descripcion</label>
                    <textarea formControlName="descripcion"  [ngClass]="!campoErrores['descripcion'] ? 'dato-descripcion' : 'dato-descripcion-error'"></textarea>
                </div>
                
            </div>
            <div id="segunda-columna">
                <p id="text-informacion">Informacion</p>
                    <input formControlName="nombre" type="text" placeholder="Nombre empresarial"  [ngClass]="!campoErrores['nombre'] ? 'datos' : 'datos-erroneos'">
                    <input formControlName="nit" type="text" placeholder="NIT"  [ngClass]="!campoErrores['nit'] ? 'datos' : 'datos-erroneos'">
                    <input formControlName="correo" type="text" placeholder="Correo principal empresaria"  [ngClass]="!campoErrores['correo'] ? 'datos' : 'datos-erroneos'">
                    <input formControlName="numero" type="text" placeholder="Numero telefonico empresarial"  [ngClass]="!campoErrores['numero'] ? 'datos' : 'datos-erroneos'">
            </div>
        </div>
        <div id="content-botones">
                <input type="submit" value="Agregar" id="button-agregar">
                <input type="button" value="Cancelar" (click)="Cancelar()" id="button-cancelar">
        </div>
    </form>
 </div>