<div class="main-crear-usuario">
    <p class="titulo">Crear Usuario</p>
        <div class="column-one">
            <p class="text-subtitle">Informacion</p>
            <div class="content-direccion">
                <p class="text-inf">Nombre</p>
                <input type="text" class="estilo-data" name="nombre" id="nombre" [(ngModel)]="infUsuario.nombre">
            </div>
            <div class="content-direccion">
                <p class="text-inf">direccion</p>
                <input type="text" class="estilo-data" name="direccion" id="direccion" [(ngModel)]="infUsuario.direccion">
            </div>
            <div class="content-area">
                <p class="text-inf">Area</p>
                <input type="text" class="estilo-data" name="Area" id="Area" [(ngModel)]="infUsuario.area">
            </div>
            <div class="content-estado">
                <p class="text-inf">Estado</p>
                <select class="estilo-data" name="estado" id="estado" [(ngModel)]="infUsuario.estado">
                    @for(estado of estados; track estado){
                        <option [value]="estado">{{estado}}</option>
                    }
                </select>
            </div>
            <div class="content-correo">
                <p class="text-inf">Correo</p>
                <input type="email" class="estilo-data" name="nombre" id="correo" [(ngModel)]="infUsuario.correo">
            </div>
        </div>
        <div class="column-two">
            <h2 class="text-subtitle">Agregar activo</h2>
            <br>
            <div class="content-filtros">
                <div class="content-buscar">
                    <input [(ngModel)]="textBuscar" class="input-buscar" type="text" placeholder="Buscar por nombre">
                    <img class="svg-busqueda" src="busqueda.svg" alt="busqueda">
                </div>  
                
                <button class="boton-activos" (click)="getActivos('software')">Software</button>
                <button class="boton-activos" (click)="getActivos('hardware')">Hardware</button>
                <button class="boton-activos" (click)="MostrarActivo()">Agregados</button>
            </div>
            <div  class="content-filtros">
                <p class="text-cantidad">Cantidad</p>
                @if(mostrar=="agregados"){
                    <p  class="text-cantidad">{{catidad_activos_agregados}}</p>
                }@else {
                    <p  class="text-cantidad">{{catidad_activos}}</p>
                }
            </div>
                <div class="fila-titulo">
                    <th class="data-row">Categoria</th>
                    <th class="data-row">Nombre</th>
                    <th class="data-row">Estado</th>
                    <th class="data-row">Disponibles</th>
                    <th class="data-row">Id</th>
                    <th width="8%"></th>
                </div>
                
            <hr class="linea">
                <div class="content-mostrar-activos">
                    @for(activo of Filtrados(activosFiltrados()); track trackById($index,activo.id)){
                        <div class="content-activos">
                            @if(activo.disponibilidad>0||mostrar=="agregados"){
                                <div class="fila-datos">
                                    <th class="data-row">{{activo.categoria}}</th>
                                    <th class="data-row">{{activo.nombre}}</th>
                                    <th class="data-row">{{activo.estado}}</th>
                                    <th class="data-row">{{activo.disponibilidad}}<th>
                                    <th class="data-row">{{activo.id}}<th>
                                </div>
                                @if(mostrar=="agregados"){
                                    <button class="button-cancelar"  (click)="eliminarActivo(activo.id)">Eliminar</button>
                                }@else {
                                    <button class="button-agregar" (click)="agregarActivoUsuario(activo.id)">Agregar</button>
                                }
                            }
                        </div>
                    }
                </div>
        </div>
    <div class="column-three">
        <button class="button-aceptar" (click)="guardarInformacion()">Agregar</button>
        <button class="button-cancelar" (click)="Cancelar()">Cancelar</button>
    </div>
</div>
