@use '../../../../../styles.scss' as estilo_globales;

.main-crear-usuario{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    height: 100%;
    overflow: auto;
}

.estilo-data{
    @include estilo_globales.entradas;
    width: 100%;
    margin-top: 0.2em;
    font-size: 1em;
}

.colum-center, .title-activos{
    display: flex;
    flex-direction: row;
}
.colum-center{
    height: 80%;
}
.column-one, .column-two{
    padding: 1.4em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column-one{
    justify-content: space-around;
}
.column-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2em;
}

.content-activos{
   max-height: 45%;
   overflow-y: auto;
   overflow-x: hidden;
   margin-bottom: 2em;
   font-size: 0.9em;
}

.content-mostrar-activos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 95%;
    margin-top: 1em;
    min-height: min-content;
 
 }

.title-activos{
    justify-content: space-around;
}

.categoria{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#titulo, .text-inf, .text-subtitle, .content-text-cantidad-activo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-inf{
    font-size: 1em;
    font-weight: 100;
}
.text-disponibilidad{
    width: 20%;
}

.text-subtitle{
    font-size: 1.1em;
    margin-bottom: 1em;
    font-weight: 500;
}

#titulo{
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

.encabezado-activo, .ver-activo, .content-text-cantidad-activo{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.content-text-cantidad-activo, .content-text-activo{
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    display: block;
}
.content-text-cantidad-activo{
    width: 50%;
}

.content-text-activo{
    width: 20%;
    font-weight: 300;
}

.ver-activo{
    width: 60%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0.3em;
}

.button-aceptar{
    @include estilo_globales.botonValidar;
    width: 10%;
    height: 30px;
}
.button-agregar{
    @include estilo_globales.botonValidar;
    height: 25px;
    padding: 0 30%;
}

.button-ver{
    @include estilo_globales.botonIngreso;
    width: 40%;
    height: 25px;
    padding: 0;
}

.button-cancelar{
    @include estilo_globales.botonCancelar;
    width: 10%;
    height: 30px;
}

.boton-activos{
    all:unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        color: #1800ad;
        border-color: #1800ad;
    }
    &:active{
        background-color: #1800ad;
        color: white;
    }
}

//////////contenedor miembro es la parte donde se muestra la informacion del usuario
.content-ver-activo{
    position: absolute;
    min-height: 70%;
    max-height: 90%;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    border: 5px solid #1800ad;
    background-color: white;
    padding: 1em;
    overflow: auto;
} 
