@use '../../../../../styles.scss' as estilo_globales;

.main-crear-usuario{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    gap: 1em;
    padding: 2em;
    overflow-y:auto
}

.estilo-data{
    @include estilo_globales.entradas;
    width: 100%;
    margin-top: 0.2em;
    font-size: 1em;
}


.column-one, .column-two{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
}

.column-one{
    gap: 1.5em;
}

.content-activos{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    min-height: min-content;
}

.column-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2em;
    margin-top: 1em;
}
.content-filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: 1em 0 0 0;
}

.content-buscar{
    height: 70%;
}

.input-buscar{
    height: 100%;
}

.content-mostrar-activos{
    overflow-y: overlay; 
    max-height: 100%;
 }

.categoria{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#titulo, .text-inf, .content-text-cantidad-activo, .text-cantidad{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-inf{
    font-size: 1em;
    font-weight: 100;
}
.text-disponibilidad{
    width: 20%;
}

.text-cantidad{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

#titulo{
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

.encabezado-activo, .ver-activo, .content-text-cantidad-activo{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.content-text-cantidad-activo, .content-text-activo{
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    display: block;
}
.content-text-cantidad-activo{
    width: 50%;
}

.content-text-activo{
    width: 20%;
    font-weight: 300;
}

.ver-activo{
    width: 60%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0.3em;
}

.data-row{
    @include estilo_globales.data();
    height: 20px;
}

.button-aceptar{
    @include estilo_globales.botonValidar;
    width: 10%;
    height: 30px;
}
.button-agregar{
    @include estilo_globales.botonValidar;
    height: 30px;
    width: 10%;
    padding: 0%; 
}

.button-ver{
    @include estilo_globales.botonIngreso;
    width: 40%;
    height: 25px;
    padding: 0;
}

.button-cancelar{
    @include estilo_globales.botonCancelar;
    width: 10%;
    height: 30px;
}

.boton-activos{
    all:unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        color: #1800ad;
        border-color: #1800ad;
    }
    &:active{
        background-color: #1800ad;
        color: white;
    }
    &:focus{
        background-color: #1800ad;
        color: white;
    }
}

