@use '../../../styles.scss' as globales;

#main-cliente{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}
aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

#titulo-empresa{ 
    @include globales.fonts;
    margin:1.5em 0;
    text-align: center;
    font-size: 2em;
}

.opciones{
    all:unset; 
    padding: 0.5em;
    align-items: center;
    border: 1px solid transparent;
    border-left: 5px solid transparent;
    padding-left: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &:hover{
        background-color: #d9d9d9;
        border-left: 5px solid #1800ad;
    }
    &:focus{
        background-color: transparent;
        border-left: 5px solid #1800ad;
        font-weight: bold;
    }
}